/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Space Grotesk', sans-serif;
}

.hero {
    background: url(../img/bg.jpg);
    background-color: antiquewhite;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    height: 350px;
    width: 350px;
    border-radius: 20px;
    background-color: #f8f9fb;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.login h1 {
    padding-bottom: 20px;
}

.form button {
    margin-top: 20px;
}

input,
textarea {
    box-shadow: none !important;
    background-image: none;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    background-color: #dbdbdb;
}

input,
textarea {
    -moz-appearance: none;
    appearance: none;
}


.btn {}

.form {
    display: flex;
    flex-direction: column;
}